<main class="main">
  <h1 class="main__title">Deployment successful!</h1>
</main>

<style is:global>
    .main {
        display: grid;
        place-items: center;
        min-height: 100vh;
        background-color: #f0f0f0;
    }

    .main__title {
        font-size: 1.8rem;
        color: #333;
    }
</style>
